@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تایید رمز عبور را فراموش کرده اید";
}

<h1>@ViewData["Title"]</h1>
<p>
    لطفا ایمیل خود را بررسی کنید تا رمز عبور خود را بازنشانی کنید.
</p>

