@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "تایید کد بازیابی";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    شما درخواست کرده اید که با یک کد بازیابی وارد شوید. این ورود تا زمانی که آن را ارائه نکنید به خاطر سپرده نخواهد شد
    یک کد برنامه authenticator در هنگام ورود به سیستم یا غیرفعال کردن 2FA و دوباره وارد شوید.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RecoveryCode"></label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">ورود سیستم</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
