@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "احراز هویت دو مرحله ای (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>هیچ کد بازیابی ندارید.</strong>
            <p>شما باید <a asp-page="./GenerateRecoveryCodes">مجموعه جدیدی از کدهای بازیابی را ایجاد کنید</a> قبل از اینکه بتوانید با یک کد بازیابی وارد شوید.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>شما 1 کد بازیابی باقی مانده است.</strong>
            <p>شما می توانید <a asp-page="./GenerateRecoveryCodes">مجموعه جدیدی از کدهای بازیابی را ایجاد کنید</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>شما دارید @Model.RecoveryCodesLeft کدهای بازیابی باقی مانده است.</strong>
            <p>شما باید <a asp-page="./GenerateRecoveryCodes"> مجموعه جدیدی از کدهای بازیابی را ایجاد کنید</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">این مرورگر را فراموش کنید</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">2FA را غیرفعال کنید</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">کدهای بازیابی را بازنشانی کنید</a>
}

<h5>برنامه Authenticator</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">برنامه احراز هویت را اضافه کنید</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">برنامه احراز هویت را راه اندازی کنید</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">برنامه authenticator را بازنشانی کنید</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}