@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

	  <div class="starter-template text-center">
		<h1>سامانه مدیریت نگهداری تعمیرات</h1>
		<p class="lead">مدیریت ماشین آلات و تجهیزات و نگهداری و تعمیرات <br>اسناد و مدارک فنی ماشین آلات</p>
	  </div>
