@page
@model Netyar.Pages.Companies.DeleteModel

@{
    ViewData["Title"] = "حذف";
}

<h1>حذف شرکت</h1>

<h3>با حذف شرکت کلیه اطلاعات زیر مجموعه این شرکت نیز حذف خواهند شد!</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._company.CompanyTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._company.CompanyTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._company.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._company.Description)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="_company.Departments" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            <select asp-for="_company.Departments" class="form-control" asp-items="ViewBag.DepartmentsList"></select>
        </dd>

    </dl>

    <form method="post">
        <input type="hidden" asp-for="_company.CompanyID" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-secondary">انصراف</a>
    </form>
</div>
