@page
@model Netyar.Pages.Companies.EditModel

@{
    ViewData["Title"] = "ویرایش";
}

<h1>ویرایش</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="_company.CompanyID" />
            <div class="form-group">
                <label asp-for="_company.CompanyTitle" class="control-label"></label>
                <input asp-for="_company.CompanyTitle" class="form-control" />
                <span asp-validation-for="_company.CompanyTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_company.Description" class="control-label"></label>
                <input asp-for="_company.Description" class="form-control" />
                <span asp-validation-for="_company.Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" /> |
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@Model._company.CompanyID">حذف</a> |
                <a asp-page="./Index" class="btn btn-secondary">انصراف</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
